.navbar{
    background:#3B3B38;
    font-weight: bold;
    color: whitesmoke;
    font-size: 50px;
}



.container-fluid{
    background-color: #f4eeed;
}

.cities-search{
    background-color:#f8f5f3;
}